<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block meta %}{% endblock %}
  
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="{{base_adminlte}}/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="{{base_adminlte}}/dist/css/adminlte.min.css">

  {% block stylesheet %}{% endblock %}

</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  {% include 'Layout/Navbar.html' %}
  {% include 'Layout/Sidebar.html' %}
 
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% block breadcrumb %}{% endblock %}

    <!-- Main content -->
    <section class="content">
      {% block content %}{% endblock %}
    </section>
    <!-- /.content -->

  </div>
  <!-- /.content-wrapper -->

  {% include 'Layout/Footer.html' %}

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    {% block controlSidebar %}{% endblock %}
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

{% block jquery %}
<script src="{{base_adminlte}}/plugins/jquery/jquery.min.js"></script>
{% endblock %}

{% block javascriptPlugins %}
<script src="{{base_adminlte}}/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{base_adminlte}}/dist/js/adminlte.min.js"></script>
{% endblock %}

{% block javascript %}
<script src="{{base_adminlte}}/dist/js/demo.js"></script>
{% endblock %}

</body>
</html>
